aenum==2.2.6
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
discord.py==1.6.0
future==0.18.2
idna==2.10
multidict==5.1.0
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
related==0.7.2
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
uonet-request-signer==1.0.0
urllib3==1.26.2
vulcan-api==1.2.0
yarl==1.6.3
